.selectElement{
   border: 1px dotted;
   border: 1px dotted;
   background-color: rgba(230,230,230,0.4);
   box-sizing: content-box;
 }
.borderElement{
    border-width:1px;
    border-style:solid;
}
.borderVertTextElement{
     -ms-transform: rotate(-90deg);
     -moz-transform: rotate(-90deg);
     -webkit-transform: rotate(-90deg);
     transform: rotate(-90deg);
     -ms-transform-origin: left top 0;
     -moz-transform-origin: left top 0;
     -webkit-transform-origin: left top 0;
     transform-origin: left top 0;
     text-align:center;
}
.D3_WebBuilder_button {
    border-radius: 5px ;
    border: 1px solid black;
    background-color: rgb(179,230,254);
}
.M2_WebBuilder_button {
    border-radius: 5px ;
    border: 1px solid black;
    background-color: rgb(179,230,254);
}
.D3_WebBuilder_NotVisibleElement {
    display:none;
}
